.gridContainer {
  display: grid;
    grid-template-columns: repeat(60, var(--cell-size));
    grid-template-rows: repeat(316, var(--cell-size));
    gap: 0px;
    background-color: rgb(36 35 35 / 0%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: none;
}

.cell:nth-child(1n) {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.cell:nth-child(1n+1) {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.cell:nth-child(10n+2) {
  border-right: 1px solid hsla(0, 0%, 100%, 0.368);
}
